* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    padding-top: 80px;
    font-family: "ヒラギノ角ゴ Pro";
}
.main {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #000000;
    border-top: 16px solid #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
  padding: 13px 13% 13px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    z-index: 1;
}

a {
	color: black;
	text-decoration-line: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: inline;
}

.headerimage{
	width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
}
  
.profile-image {
	width: 200px; 
	border-radius: 50%;
	margin-bottom: 20px;
}
  
.profile-description {
	max-width: 400px;
	font-size: 16px;
}
  
@media (max-width: 768px) {
  
	.profile-container {
		flex-direction: column;
	}
  
	.profile-image {
		width: 150px; 
	}
  
	.profile-description {
		max-width: 100%;
		font-size: 14px;
	}
}

.mainbox {
    margin: 2em auto;
    background: #ffffff;
    box-shadow: 0 4px 7px 8px rgba(0, 0, 0, 0.22);
    font-size: 18px;
    max-width: 800px;
    padding: 20px;
}

.mainbox .box-title {
    font-size: 1.4em;
    background: #5fc2f5;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.mainbox p {
    padding: 10px 0;
    margin: 0;
}

.mainfont {
	font-family: "sans-serif";
	font-size: 3em;
	font-weight: bold;
}

.mainfont1 {
    font-size: 20px;
    font-weight: bold;
}

.mainfont2 {
	position: center;
}

@media (max-width: 768px) {
    .mainbox {
        padding: 10px;
        font-size: 16px;
        max-width: 95%;
    }

    .mainbox .box-title {
        font-size: 1.2em;
        padding: 10px;
        background: #5fc2f5;
        color: #fff;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

    .mainfont1 {
        font-size: 18px;
        margin: 10px 0;
    }

    .mainbox ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    .mainbox ul li {
        padding: 5px 0;
    }
}

hr {
	color: #1d1d1d;
	width: 70%;
}

.last {
	color: rgb(0, 0, 0);
	font-size: 12px;
}

.site-footer {
  padding: 10px 0;
  text-align: center;
}

.copyright {
  font-family: Terminal;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#dark-mode-toggle {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

body.dark-mode {
    background-color: #1d1d1d;
    color: #ffffff;
}

.dark-mode .mainbox {
    background: #333;
    color: #ffffff;
}

.dark-mode .copyright {
    color: #fff;
}
